*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'CooperHewitt';
  src: url('fonts/CooperHewitt-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/CooperHewitt-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/CooperHewitt-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/CooperHewitt-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CooperHewitt';
  src: url('fonts/CooperHewitt-Medium.eot'); /* IE9 Compat Modes */
  src: url('fonts/CooperHewitt-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/CooperHewitt-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/CooperHewitt-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 500;
  font-style: normal;
}

body {
	font-family: 'CooperHewitt', Helvetica neue, Helvetica, sans-serif;
	font-size: 19px;
	color: #292c67;
	line-height: 1.4;
	margin: 0;
	font-weight: 500;
}

.column-third {
	width: 32%;
	margin-right:15px;
	float: left;
}

.column-third-end {
	width: 32%;
	margin-right:5px;
	float: left;
}

.column-half {
	width: 48%;
	margin-right:15px;
	float: left;
	display: block;
}

.iframe-height {
	min-height: 166px;
}

h3 {
	margin-top: 10px;
}

.section-header {
	background: #47f5a7;
	margin-top: 0px;
	display: block;
	padding-bottom: 30px;
}

.section-upcoming {
	/*background-color: black;*/
	/*background-color: #f8c9df;*/
	/*background-color: #ffc322;*/
	background-color: #F8F8F8;
	margin-top: 0px;
	font-color: red;
	display: block;
	padding-bottom: 5px;
	border-bottom: 1px solid #BFC1C3;
}

.previous-event-image {
	background: url(../gd-mid-image.jpg) #292c67 no-repeat center center fixed;
	margin-top: 30px;
	min-height: 440px;
}

.previous-event-image-2 {
	background: url(../govdesign-posters-website.jpg) #292c67 no-repeat center center fixed;
	margin-top: 30px;
	min-height: 440px;
}

.previous-event-image .heading-upcoming {
	color: #fff;
	margin-top: 180px;
}


.section-body-top {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px 15px 15px 15px;
	display: block;
}

.section-body {
	margin-top: 15px;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	padding: 15px 15px 15px 15px;
	display: block;
	clear: both;
}

.section-body img {
	max-width: 100%;
	margin-bottom: 60px;
	margin-top: 0px;
}

.section-body-copy {
	width: 50%;
}

iframe {
    display:block;
    position: relative;
    width:100%;
}

.section-videos {
	margin-bottom: 90px;
	display: block;
	clear: both;
}

.section-footer {
	background-color: #F8F8F8;
	margin-top: 60px;
	display: block;
	border-top: 1px solid #BFC1C3;
}

.bottom-contacts {
	margin-top: 30px;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding: 60px 15px 30px 15px;
}

.caption-copy {
	margin-top: 20px;
	font-size: 14px;
	margin-bottom: 60px;
}


.outline-hash {
	color: #ffc322;
   -webkit-text-stroke: 1px #ffc322;
   margin-right: 5px;
}


.heading-top { 
	color: #000;
	font-weight: bold;
	font-size: 64px;
	font-weight: 700;
	margin-bottom: 10px;
	width: 60%;
}

.heading-upcoming { 
	color: #292c67;
	font-weight: bold;
	font-size: 64px;
	font-weight: 700;
	margin-bottom: 10px;
	margin-top: 10px;
	line-height: 64px;
}

.heading-previous { 
	font-weight: bold;
	font-size: 36px;
	margin-bottom: 5px;
}

.heading-2 { 
	font-size: 24px;
	line-height: 40px;
	font-weight: 400;
	color: #fff;
}

.heading-2b { 
	font-size: 36px;
	line-height: 40px;
	font-weight: 700;
}

.heading-3 { 
	font-size: 36px;
	line-height: 40px;
	font-weight: 400;
}

.line-break-1 {
	display: block;
	margin-left: 74px;
}

.line-break-2 {
	display: block;
}

/*//intro//*/

.intro-text {
	color: #000;
	width: 60%;
	font-weight: 500;
	font-size: 36px;
	line-height: 44px; 
}

.intro-text a { 
	color: #292c67;
	text-decoration: underline; 
}

.intro-text a:hover { 
	color: #2F4F4F;
}

.intro-text-2 {
	color: #292c67;
	width: 80%;
	font-weight: 500;
	margin-top: 45px;
	margin-bottom: 60px;
}


.intro-symbol {
	width: 33%;
	clear: both;
	margin-bottom: 15px;
}

.intro-symbol img{
	width: 25%;
}

.intro-sub-text { 
	font-size: 24px;
	line-height: 30px;
	font-weight: 400;
	margin-top: 15px; 
}

.intro-speakers { 
	font-size: 19px;
	line-height: 25px;
	font-weight: 500;
	margin-bottom: 20px; 
}

.intro-speakers a{ 
	color: #292c67;
	font-weight: 700; 
}

.bold-name {
	color: #292c67;
	font-weight: 700; 
}

.intro-speakers a:hover { 
	color: #cb591a;
}


.intro-speakers-big { 
	font-size: 24px;
	line-height: 32px;
	font-weight: 500;
}

.intro-speakers-big a{ 
	color: #292c67;
	font-weight: 700;
	text-decoration: underline; 
}

.intro-speakers-big a:hover{ 
	color: #cb591a;
	text-decoration: underline;
}


.intro-details { 
	font-size: 19px;
	line-height: 25px;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 5px;
}

.intro-details a{ 
	color: #292c67;
	font-weight: 700; 
}

.intro-details a:hover { 
	color: #2F4F4F;
}



.intro-details-date { 
	font-size: 19px;
	line-height: 25px;
	font-weight: 700;
	margin-top: 30px;
	margin-bottom: 5px; 
}

.white-text {
	color: #fff;
}

.dark-blue-text {
	color: #292c67;
}

.orange-text {
	color: #f9b342;
}

.view-map {
	margin-top: 20px;
	font-weight: normal;
	font-size: 16px;
	font-weight: 500;
}

.small-text { 
	margin-top: 30px;
	font-weight: normal;
	font-size: 19px;
	font-weight: 500;
	color: #292c67;
}

.small-text a { 
	color: #292c67;
	text-decoration: none;
}

.small-text a:hover { 
	color: #cb591a;
}

.small-text-footer { 
	margin-top: 60px;
	font-weight: normal;
	font-size: 16px;
	font-weight: 500;
}

.small-text-footer a { 
	color: #292c67;
	text-decoration: none;
}

.small-text-footer a:hover { 
	color: #cb591a;
}

.large-text { 
	font-size: 24px;
	line-height: 32px;
	font-weight: 700;
	color: #292c67; 
}

.large-text a { 
	color: #292c67;
	text-decoration: underline; 
}

.large-text a:hover { 
	color: #cb591a;
}

.heading-medium { 
	font-size: 24px;
	line-height: 24px;
	margin-bottom: 30px;
}

.heading-medium-2 { 
	font-size: 24px;
	line-height: 24px;
	margin-top: 60px;
	color: #292c67; 
}

.reg-closed {
	color: #292c67;
	background-color: #92c7d9;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 10px;
	font-weight: 500;
	font-size: 19px;
	text-align: center;
	margin-top: 45px;
}

.button {
	color: #fff;
	background-color: #f06723;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 3px solid #b44801;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 500;
	font-size: 19px;
	cursor: pointer;
	margin-top: 30px; 
}

a .button:hover {
	background-color: #cb591a; 
}


/* utils */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*Flags */


 .flag {
 	display:inline-block;
 	width:28px;
 	height:20px;
 	margin-right: 10px;
 	}


@media only screen and (max-width : 960px) {


	.menu {
		position: relative;
	}


	.column-third {
	width: 48%;
	margin-right:15px;
	float: left;
	}

	.column-third-end {
		width: 48%;
		margin-right:15px;
		float: left;
	}


}

@media only screen and (max-width : 720px) {

h1 { 
	font-size: 36px;
}

h2 { 
	font-size: 24px;
}



.heading-top { 
	font-size: 36px;
	line-height: 42px;
}

.heading-upcoming { 
	font-size: 36px;
	line-height: 42px;
}




.outline-hash {
   -webkit-text-stroke: 1px color: #ffc322;
}

.section-body-copy {
	width: 100%;
}

.intro-symbol {
	width: 50%;
}

.intro-text {
	width: 90%;
	font-size: 24px;
	line-height: 32px; 
}

.large-text { 
	font-size: 19px;
	line-height: 24px;
}


.intro-sub-text { 
	font-size: 19px;
	line-height: 24px;
}

.small-text { 
	font-size: 14px;
}

}

@media only screen and (max-width : 480px) {

.section-header {
	background: #47f5a7;
}

.column-third {
	width: 94%;
	margin-right:5px;
	float: left;
}

.column-third-end {
	width: 94%;
	margin-right:5px;
	float: left;
}

.intro-speakers-big { 
	font-size: 19px;
	line-height: 24px;
	font-weight: 500;
}

}



