*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} 

@font-face {
  font-family: 'Dia Black';
  src: url('fonts/Dia Black.eot'); /* IE9 Compat Modes */
  src: url('fonts/Dia Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Dia Black.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Dia Black.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 900;
  font-style: normal;
}
 
body {
	font-family: Helvetica neue, Helvetica, sans-serif;
	font-size: 19px;
	color: #000;
	line-height: 1.4;
	margin: 0;
	font-weight: 700;
}

.font-bold {
	font-weight: 700;
}

.column-third {
	width: 31%;
	margin-right:15px;
	float: left;
	display: block;
}

.column-third-end {
	width: 31%;
	margin-right:5px;
	float: left;
	display: block;
}

.column-half {
	width: 48%;
	margin-right:15px;
	float: left;
	display: block;
}

.iframe-height {
	min-height: 166px;
}

h3 {
	margin-top: 10px;
}

/*header area */

.section-header {
	background: #47f5a7;
	margin-top: 0px;
	display: block;
	overflow: hidden;
	padding-bottom: 30px;
}

.section-header-2 {
	background: #fff;
	margin-top: 0px;
	display: block;
	height: 280px;
	overflow: hidden;
	padding-bottom: 30px;
}

.section-body-top {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px 15px 15px 15px;
	overflow: hidden;
}

.heading-top-section {
	max-width: 55%;
	display: inline-block;
	margin-right: 60px;
}

.section-top-image {
	max-width: 35%;
	display: inline-block;
	margin-left: 30px;
	padding-top: 10px;
	float: right;
}

.section-top-image img {
	max-width: 100%;
	z-index: -1;
	margin-top: 30px;
}

.section-top-image-2 {
	max-width: 50%;
	display: inline-block;
	margin-left: -5px;
	padding-top: 10px;
	float: left;
}

.section-top-image-2 img {
	max-width: 100%;
	z-index: -1;
	margin-top: 30px;
}




.heading-top { 
	color: #000;
	font-size: 80px;
	letter-spacing: 0px;
	line-height: 80px;
	margin-bottom: 10px;
	margin-top: 45px;
	font-family: Dia Black, Helvetica neue, Helvetica, sans-serif;
}

.heading-top-small { 
	color: #000;
	font-size: 30px;
	letter-spacing: 0px;
	line-height: 30px;
	margin-bottom: 10px;
	margin-top: 45px;
	font-family: Dia Black, Helvetica neue, Helvetica, sans-serif;
}

.heading-top-small a { 
	color: #000;
	text-decoration: none;
}

.heading-top-small a:hover { 
	color: #000;
	text-decoration: underline;
}

h2 .h2-class { 
	color: #000;
	font-size: 80px;
	letter-spacing: 0px;
	line-height: 80px;
	margin-bottom: 10px;
	margin-top: 75px;
	font-family: Dia Black, Helvetica neue, Helvetica, sans-serif;
}

h2 .small-h2-class { 
	color: #000;
	font-size: 36px;
	letter-spacing: 0px;
	line-height: 36px;
	margin-bottom: 10px;
	margin-top: 75px;
	font-family: Dia Black, Helvetica neue, Helvetica, sans-serif;
}

/*ends*/

.section-body-grey {
	background-color: #f8f8f8;
	margin-top: 0px;
	display: block;
	padding-bottom: 30px;
	overflow: hidden;
	border-bottom: 10px solid #000;
}

.section-body-grey a {
	text-decoration: underline;
	color: #005EA5;
}

.section-body-grey a:hover {
	color: #000;
}

.section-body-grey a:active {
	color: #000;
	background-color: yellow;
}

.section-body {
	background-color: #FFF;
	margin-top: 0px;
	display: block;
	padding-bottom: 5px;
	overflow: hidden;
	border-bottom: 10px solid #000;
}

.section-body a {
	text-decoration: underline;
	color: #005EA5;
}

.section-body a:hover {
	color: #000;
}

.section-body a:active {
	color: #000;
	background-color: yellow;
}

.section-body-black {
	background-color: #000;
	margin-top: 0px;
	color: #47f5a7;
	display: block;
	clear: both;
	overflow: hidden;
	padding-bottom: 30px;
}

.section-body-black a {
	color: #fff;
}

.section-body-black a:active {
	background-color: yellow;
}


.section-body-blue {
	background-color: #0d66b0;
	margin-top: 0px;
	color: #47f5a7;
	display: block;
	clear: both;
	overflow: hidden;
	padding-bottom: 30px;
}

.section-body-blue a {
	color: #fff;
}

.section-body-blue a:active {
	background-color: yellow;
}

.section-body-blue h1 {
	color: #fff;
}

.section-body-blue h1 a {
	text-decoration: none;
}

.section-body-blue h1 a:hover {
	color: black;
}


.section-body-blue h2 {
	color: #fff;
}

 .section-body-purple {
	background-color: #6B4DC4;
	margin-top: 0px;
	color: #6B4DC4;
	display: block;
	clear: both;
	overflow: hidden;
	padding-bottom: 30px;
}

.section-body-purple a {
	color: #fff;
}

.section-body-purple a:active {
	background-color: yellow;
}

.section-body-purple h1 {
	color: #fff;
}

.section-body-purple h1 a {
	text-decoration: none;
}

.section-body-purple h1 a:hover {
	color: black;
}


.section-body-purple h2 {
	color: #fff;
}

.section-body-green {
	background-color: #47f5a7;
	margin-top: 0px;
	color: #000;
	display: block;
	padding-bottom: 5px;
	clear: both;
	overflow: hidden;
	padding-bottom: 60px;
}

.section-body-2 a {
	text-decoration: underline;
	color: #000;
}

.section-body-2 a:hover {
	color: #005A2F;
}

.section-body-green a {
	text-decoration: underline;
	color: #000;
}

.section-body-green a:hover {
	color: #005A2F;
}

.large-type {
	font-size: 32px;
	font-family: Dia Black, Helvetica neue, Helvetica, sans-serif;
}

.intro-body-copy {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 30px;
	padding: 15px 15px 15px 15px;
	display: block;
	clear: both;
	color: #000;
}

.intro-body-copy p {
	font-size: 24px;
	line-height: 30px;
	max-width: 70%;
}

.intro-body-copy h2 {
	font-size: 24px;
	line-height: 30px;
	max-width: 70%;
	font-family: Dia Black, Helvetica neue, Helvetica, sans-serif;
}

.intro-body-copy h3 {
	font-size: 24px;
	line-height: 30px;
	max-width: 70%;
	font-family: Dia Black, Helvetica neue, Helvetica, sans-serif;
}


.intro-body-copy h4 {
	font-size: 24px;
	line-height: 30px;
	max-width: 70%;
	margin-bottom: 5px;
	margin-top: 45px;
	font-family: Dia Black, Helvetica neue, Helvetica, sans-serif;
}





.intro-body-copy-2 {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 30px;
	padding: 15px 15px 15px 15px;
	display: block;
	clear: both;
	color: #000;
}

.intro-body-copy-2 p {
	font-size: 19px;
	line-height: 24px;
	max-width: 70%;
	font-weight: 400;
}

.intro-body-copy-2 h2 {
	font-size: 36px;
	line-height: 40px;
	margin-top: 15px;
	color: #000;
	margin-bottom: 5px;
	font-family: Dia Black, Helvetica neue, Helvetica, sans-serif;
}

.intro-body-copy-2 h3 {
	font-size: 24px;
	line-height: 30px;
	max-width: 70%;
	font-family: Dia Black, Helvetica neue, Helvetica, sans-serif;
}

.intro-body-copy-2 h4 {
	font-size: 24px;
	line-height: 30px;
	max-width: 70%;
	margin-bottom: 5px;
	margin-top: 45px;
	font-family: Dia Black, Helvetica neue, Helvetica, sans-serif;
}

.intro-body-copy-2 table td {
	border-bottom: 1px solid #000;
	padding: 14px 15px 10px 0;
	max-width: 100%;
	text-align: left;
	display: table-cell;
    vertical-align: inherit;
    border-collapse: collapse;
}

.intro-body-copy-2 table {
	width: 100%;
}

.first-column {
	width: 100px;
	padding-right: 10px;
}

.column-one {
	width: 150px;
	padding-right: 10px;
}

.intro-body-copy-2 ul {
	list-style: none;
	padding-left: 0px;
}

.intro-body-copy-2 li {
	border-bottom: 1px solid #000;
	padding: 10px 10px 10px 0px;
}



.body-copy-black {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 30px;
	padding: 15px 15px 15px 15px;
	display: block;
	clear: both;
	color: #fff;
}

.body-copy-black p {
	font-size: 19px;
	line-height: 24px;
	max-width: 70%;
	font-weight: 400;
}

.body-copy-black a:hover {
	color: yellow;
}

.body-copy-black h2 {
	font-size: 36px;
	margin-top: 15px;
	color: #fff;
	margin-bottom: 30px;
	font-family: Dia Black, Helvetica neue, Helvetica, sans-serif;
}

.body-copy-black h3 {
	font-size: 24px;
	line-height: 30px;
	max-width: 70%;
	font-family: Dia Black, Helvetica neue, Helvetica, sans-serif;
}

.large-h3 {
	font-size: 48px;
	line-height: 48px;
	margin-bottom: 10px;
	max-width: 70%;
	font-family: Dia Black, Helvetica neue, Helvetica, sans-serif;
}

.body-copy-black h4 {
	font-size: 24px;
	line-height: 30px;
	max-width: 70%;
	margin-bottom: 5px;
	margin-top: 45px;
	font-family: Dia Black, Helvetica neue, Helvetica, sans-serif;
}

.body-copy-black table td {
	border-bottom: 1px solid #fff;
	padding: 14px 15px 10px 0;
	max-width: 100%;
	text-align: left;
	display: table-cell;
    vertical-align: inherit;
    border-collapse: collapse;
}

.body-copy-black table {
	width: 100%;
}

.body-copy-black ul {
	list-style: none;
	padding-left: 0px;
}

.body-copy-black li {
	border-bottom: 1px solid #fff;
	padding: 10px 10px 10px 0px;
	font-weight: 400;
}


/*// body-copy-2 */

.body-copy-2 {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 30px;
	padding: 15px 15px 15px 15px;
	display: block;
	clear: both;
	color: #000;
}

.body-copy-2 p {
	font-size: 19px;
	line-height: 24px;
	max-width: 70%;
	font-weight: 400;
	margin-top: 10px;
}

.body-copy-2 h2 {
	font-size: 36px;
	color: #000;
	margin-top: 45px;
	margin-bottom: 5px;
	font-family: Dia Black, Helvetica neue, Helvetica, sans-serif;
}

.body-copy-2 h3 {
	font-size: 24px;
	line-height: 30px;
	max-width: 70%;
	margin-top: 30px;
	margin-bottom: 5px;
	font-family: Dia Black, Helvetica neue, Helvetica, sans-serif;
}

.body-copy-2 h4 {
	font-size: 24px;
	line-height: 30px;
	max-width: 70%;
	margin-bottom: 5px;
	margin-top: 45px;
	font-family: Dia Black, Helvetica neue, Helvetica, sans-serif;
}

.body-copy-2 table td {
	border-bottom: 1px solid #000;
	padding: 14px 15px 10px 0;
	max-width: 100%;
	text-align: left;
	display: table-cell;
    vertical-align: inherit;
    border-collapse: collapse;
}

.body-copy-2 table {
	width: 100%;
}

.body-copy-2 ul {
	font-weight: 400;
}

.body-copy-2 li {
}


/*//ends */



.section-body-copy {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 15px 15px 15px 15px;
	display: block;
	clear: both;
}

.section-body-copy p {
	font-size: 19px;
	line-height: 25px;
}

.section-body img {
	max-width: 100%;
	margin-bottom: 60px;
	margin-top: 0px;
}

.section-body-copy h2 {
	font-size: 36px;
	line-height: 40px;
	margin-top: 15px;
	margin-bottom: 5px;
	font-family: Dia Black, Helvetica neue, Helvetica, sans-serif;
}

.section-body-grey .bold-font {
	font-weight: 900;
	margin-bottom: -10px;
}

.intro-body-copy h2 {
	font-size: 36px;
	margin-top: 15px;
	color: #000;
	margin-bottom: 5px;
	font-family: Dia Black, Helvetica neue, Helvetica, sans-serif;
}

.intro-body-copy h2 .small-h2-class {
	font-size: 36px;
	margin-top: 15px;
	color: #000;
	margin-bottom: 5px;
	font-family: Dia Black, Helvetica neue, Helvetica, sans-serif;
}

.small-type {
	font-size: 16px!important;
	margin-top: 5px;
}

.small-type-2 {
	font-size: 16px!important;
	margin-top: 0px;
	margin-bottom: 30px;
	line-height: 20px;
}


.section-body-copy .big-date {
	color: #fff;
	font-size: 72px;
	line-height: 80px;
	margin-top: 8px;
	margin-bottom: 30px;
	font-family: Dia Black, Helvetica neue, Helvetica, sans-serif;
}

.slash {
	font-weight: 200;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: #47f5a7;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.highlight {
  background-color: #47f5a7;
  display: inline-block;
  margin-right: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

iframe {
    display:block;
    position: relative;
    width:100%;
}

.section-videos {
	margin-bottom: 90px;
	display: block;
	clear: both;
}

.section-footer {
	background-color: #000;
	display: block;
	border-top: 10px solid #000;
	color: #f8f8f8;
}

.bottom-contacts {
	margin-top: 30px;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding: 60px 15px 30px 15px;
}

.bottom-contacts p {
	font-size: 16px;
	font-weight: 400;
}

.bottom-contacts a { 
	color: #f8f8f8;
	text-decoration: underline; 
}

.bottom-contacts a:hover { 
	color: #DEE0E2;
}

.caption-copy {
	margin-top: 20px;
	font-size: 14px;
	margin-bottom: 60px;
}


.section-body .extra-big-header {
	font-size: 80px;
	line-height: 80px;
	margin-top: 8px;
	margin-bottom: 60px;
	font-family: Dia Black, Helvetica neue, Helvetica, sans-serif;
}

.section-body-green .extra-big-header {
	font-size: 80px;
	line-height: 80px;
	margin-top: 8px;
	margin-bottom: 60px;
	font-family: Dia Black, Helvetica neue, Helvetica, sans-serif;
}

/*//intro//*/

.intro-text {
	color: #000;
	width: 60%;
	font-size: 36px;
	line-height: 44px; 
}

.intro-text a { 
	color: #292c67;
	text-decoration: underline; 
}

.intro-text a:hover { 
	color: #2F4F4F;
}

.intro-text-2 {
	color: #292c67;
	width: 80%;
	margin-top: 45px;
	margin-bottom: 60px;
}


.intro-symbol {
	width: 33%;
	clear: both;
	margin-bottom: 15px;
}

.intro-symbol img{
	width: 25%;
}


.large-text { 
	font-size: 24px;
	line-height: 32px;
	color: #292c67; 
}

.large-text a { 
	color: #292c67;
	text-decoration: underline; 
}

.large-text a:hover { 
	color: #cb591a;
}

.heading-medium { 
	font-size: 24px;
	line-height: 24px;
	margin-bottom: 30px;
}

.heading-medium-2 { 
	font-size: 24px;
	line-height: 24px;
	margin-top: 60px;
	color: #292c67; 
}



/* utils */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


@media only screen and (max-width : 960px) {

.heading-top { 
	font-size: 48px;
	line-height: 50px;
}


	.menu {
		position: relative;
	}


	.column-third {
	width: 48%;
	margin-right:15px;
	float: left;
	}

	.column-third-end {
		width: 48%;
		margin-right:15px;
		float: left;
	}


}

@media only screen and (max-width : 720px) {

h1 { 
	font-size: 36px;
}

h2 { 
	font-size: 24px;
}

.section-body-blue h1 {
	margin-top: 10px;
}

.section-body-top h1 {
	margin-top: 10px;
}

.heading-top { 
	margin-top: 30px;
}

.column-half {
	width: 90%;
}

.intro-body-copy p {
	font-size: 19px;
	line-height: 24px;
	max-width: 90%;
}

.intro-body-copy-2 p {
	max-width: 90%;
}

.intro-body-copy-2 h3 {
	max-width: 90%;
	font-size: 30px;
	line-height: 36px;
}

.body-copy p {
	font-size: 19px;
	line-height: 24px;
	max-width: 90%;
}

.body-copy-2 p {
	max-width: 90%;
}

.body-copy-2 h3 {
	max-width: 90%;
}

.body-copy-black p {
	max-width: 90%;
}



.heading-top { 
	font-size: 36px;
	line-height: 42px;
}

.heading-upcoming { 
	font-size: 36px;
	line-height: 42px;
}

.heading-top-section {
	max-width: 90%;
}




.outline-hash {
   -webkit-text-stroke: 1px color: #ffc322;
}

.section-body-copy {
	width: 100%;
}

.intro-symbol {
	width: 50%;
}

.intro-text {
	width: 90%;
	font-size: 24px;
	line-height: 32px; 
}

.large-text { 
	font-size: 19px;
	line-height: 24px;
}


.intro-sub-text { 
	font-size: 19px;
	line-height: 24px;
}

.small-text { 
	font-size: 14px;
}

}

@media only screen and (max-width : 480px) {

.section-header {
	background: #47f5a7;
}

.column-third {
	width: 94%;
	margin-right:5px;
	float: left;
}

.column-third-end {
	width: 94%;
	margin-right:5px;
	float: left;
}


.intro-body-copy-2 table td {
	padding: 8px 15px 10px 0;
	font-size: 16px;
}




}


.btn {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: Arial;
  color: #6B4DC4 !important;
  font-size: 20px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #6B4DC4 2px;
  text-decoration: none !important;
}

.btn:hover {
  background: #e5e1f2;
  text-decoration: none;
}
